<!DOCTYPE html>
<html>

<body>
    <table>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>Song Title 1</td>
        <td>Artist 1</td>
        <td>Album 1</td>
        <td><button class="add-song-button">Add to Database</button></td>
    </tr>
    <tr>
        <td>Song Title 2</td>
        <td>Artist 2</td>
        <td>Album 2</td>
        <td><button class="add-song-button">Add to Database</button></td>
    </tr>
    <!-- more rows here -->
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $('.add-song-button').click(function () {
                // Get the song data from the table row
                var title = $(this).closest('tr').find('td:eq(0)').text();
                var artist = $(this).closest('tr').find('td:eq(1)').text();
                var album = $(this).closest('tr').find('td:eq(2)').text();

                // Send an AJAX request to add the song to the database
                $.ajax({
                    url: '/addsong',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ title: title, artist: artist, album: album }),
                    success: function (data) {
                        alert(data);
                    },
                    error: function () {
                        alert('Error adding song to database.');
                    }
                });
            });
        });
    </script>
</body>

</html>